<ion-pane ng-class="{'moon-visible':isCaught}" >
    <ion-header-bar class="bar-stable">
        <h1 class="title">MoonGrasper</h1>
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-header-bar>
    <ion-content padding="true" scroll="false" id="giant-moon" ng-class="{'moon-visible':isCaught}">
        <div id="container">
            <div id="content">
                <img width="1000" ng-src="{{getCurrentFullMoonImage()}}" zoomable4 id="image-scrollable">
            </div>
        </div>
    </ion-content>
    <ion-nav-view name="menuContent"></ion-nav-view>
</ion-pane>
