<div class="finder" style="{{debugBackground}}">
    <div id="moon" style="{{moonStyle}}"></div>
    <div class="finder-overlay">        
        <div class="area">
            <div class="area-border"></div>
        </div>
    </div>
    <div class="finder-contents">
    	<i id="arrow" class="ion-ios-arrow-up" style="{{arrowStyle}}"></i>
        <h3>Follow the arrows to find the moon</h3>
    </div>
</div>

<div class="debug">
    <table style="width: 100%;">
        <tr ng-repeat="debugItem in debug">
            <td>{{debugItem[0]}}</td>
            <td style="text-align: right;">{{debugItem[1] | number:2}}</td>
            <td style="text-align: right;">{{debugItem[2]| number:2}}</td>
        </tr>
    </table>
</div>
