/* Empty. Add your own CSS if you like */

html {
    height: 100%;
}

body {
    background: url(../img/bgr.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.debug {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    height: 20%;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    font-size: 10px;
    padding: 10px;
    z-index: 999;
 display: none;
}

.finder-contents h3.logo-text {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 30px;
    color: #fff;
    span {
        color: #FF5722;
    }
}
