#moon {
    background: url(../img/moon-s-14.png) center center no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    z-index: 40;
    &.phase1 {background-image: url(../img/sm/moon-1.png);}
    &.phase2 {background-image: url(../img/sm/moon-2.png);}
    &.phase3 {background-image: url(../img/sm/moon-3.png);}
    &.phase4 {background-image: url(../img/sm/moon-4.png);}
    &.phase5 {background-image: url(../img/sm/moon-5.png);}
    &.phase6 {background-image: url(../img/sm/moon-6.png);}
    &.phase7 {background-image: url(../img/sm/moon-7.png);}
    &.phase8 {background-image: url(../img/sm/moon-8.png);}
    &.phase9 {background-image: url(../img/sm/moon-9.png);}
    
    &.phase10 {background-image: url(../img/sm/moon-10.png);}
    &.phase11 {background-image: url(../img/sm/moon-11.png);}
    &.phase12 {background-image: url(../img/sm/moon-12.png);}
    &.phase13 {background-image: url(../img/sm/moon-13.png);}
    &.phase14 {background-image: url(../img/sm/moon-14.png);}
    &.phase15 {background-image: url(../img/sm/moon-15.png);}
    &.phase16 {background-image: url(../img/sm/moon-16.png);}
    &.phase17 {background-image: url(../img/sm/moon-17.png);}
    &.phase18 {background-image: url(../img/sm/moon-18.png);}
    &.phase19 {background-image: url(../img/sm/moon-19.png);}

    &.phase20 {background-image: url(../img/sm/moon-20.png);}
    &.phase21 {background-image: url(../img/sm/moon-21.png);}
    &.phase22 {background-image: url(../img/sm/moon-22.png);}
    &.phase23 {background-image: url(../img/sm/moon-23.png);}
    &.phase24 {background-image: url(../img/sm/moon-24.png);}
    &.phase25 {background-image: url(../img/sm/moon-25.png);}
    &.phase26 {background-image: url(../img/sm/moon-26.png);}
    &.phase27 {background-image: url(../img/sm/moon-27.png);}
    &.phase28 {background-image: url(../img/sm/moon-28.png);}
}



#giant-moon {
    z-index: 20;
    #container {
        position: fixed;
        display: inline;
        top: 0;
        right: 0;
        bottom: 45px;
        left: 0;
         
        #image-scrollable {
            width: 100px;
            transition: width 1.3s cubic-bezier(0.67, -0.04, 0.27, 1.55), opacity 0.1s cubic-bezier(0, 1.0, 0, 1);
            opacity: 0.0;
        }
    }
    #content {
        position: fixed;
        display: inline;
        right: 0;
        left: 0;
        top: 0;
         //-webkit-transform-origin: 0 0;
        top: 50%;
        margin-top: -50px;
        left: 50%;
        margin-left: -50px;
        width: 100px;
        transition: margin 1.3s cubic-bezier(0.67, -0.04, 0.27, 1.55);
        transform: translate3d(0px, 0px, 0px) scale(1);
    }
    &.moon-visible {
        #content {
            margin-top: -210px;
            margin-left: -250px;
            transform: translate3d(0px, 0px, 0px) scale(1);
        }
        #container #image-scrollable {
            width: 500px;
            opacity: 1;
        }
    }
}
